<html>
	<head>
		<title>
		</title>
	</head>
	<body>		
		<ul>
	<li>	
		ID: <%= widget.id %>
	</li>
	<li>
		Name: <%= widget.name %>
	</li>
	<li>
		Price: <%= widget.price %>
	</li>
	<li>
		Desc: <%=  widget.descr %>
	</li>
</ul>
	</body>
</html>

